@{
    Layout = null;
}
@using VideoNotes.Web.ViewModels
@model IEnumerable<NoteViewModel>

    @foreach (NoteViewModel a in Model)
    {
        <div class="row note" onclick="player.seekTo(@a.Time , true)">
            <div class="col-sm-3 float-left">
                <span class="time">@a.Time</span>
            </div>
            <div class="col-sm-9">
                <strong>@a.Title</strong>
            </div>
            <div>
                <p>@a.Content</p> 
            </div>
            @Ajax.ActionLink(" ", "DeleteNote", "PersonalNotes",

                        new { noteId = a.NoteId },
    new AjaxOptions
    {
        UpdateTargetId = "notes",
        LoadingElementId = "timeDisplayLoading",
        HttpMethod = "DELETE",
        InsertionMode = InsertionMode.Replace

    }, new { @class = "btn-sm glyphicon glyphicon-trash float-right", @style = "display:inline-block" })
        </div>
    }
